[mysqld]
max_allowed_packet=2000M

# Add mode only if needed
sql_mode = "ONLY_FULL_GROUP_BY,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

# logging settings
general-log=0
# actual path: /Users/eugene/docker/mysql/var/lib/mysql/general_log_file.log
general_log_file=/var/lib/mysql/general_log_file.log

slow-query-log=0
# actual path: /Users/eugene/docker/mysql/var/lib/mysql/slow_query_log_file.log
slow_query_log_file=/var/lib/mysql/slow_query_log_file.log

[client]
user=magento
password=magento
