# Default Homebrew MySQL server config
[mysqld]
# bind-address = 127.0.0.1
# mysqlx-bind-address = 127.0.0.1
default_authentication_plugin= mysql_native_password
innodb_buffer_pool_chunk_size=54630809006
general_log = 1
general_log_file = /var/lib/mysql/general.log

# Add mode only if needed
sql_mode = "ONLY_FULL_GROUP_BY,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

[client]
user=root
password=Root123@
